@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@import './variables', './keyframes';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, $yellow, $orange, $red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $white;   
}
#to-do-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 400px;
    height: 80vh;
    background: url("../mountain.jpg");
    background-position: calc(100% + 300px) calc(100% + 600px);
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .3);
    padding: 20px;
    h1 {
        font-weight: 600;
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        color: #2f2f2f;
    }
    input {
        padding: 15px 35px 15px 15px;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        background: rgba(255, 255, 255, .75);
        backdrop-filter: blur(5px);
        &:focus {
            outline: none;
        }
    }
    button {
        position: absolute;
        background: transparent;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    #add {
        top: 105px;
        right: 28px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: $green;
        }
    }
    #reset {
        top: 126px;
        right: 28px;
        &:focus {
            outline: none;
        }
        &:hover {
            color:rgba(0, 0, 0s, .6)
        }
    }
    #list {
        list-style-type: none;
        width: 100%;
        height: 40vh;
        overflow-y: scroll;
        overflow-x: hidden;  // this is necessary otherwise because the horizontal scrollbar keeps appearing when new li is added to the list
        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, .1);
            backdrop-filter: blur(5px);
            border: 2px solid rgba(255, 255, 255, .3);
            border-radius: 10px;
        }
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .1);
            backdrop-filter: blur(5px);
            border: 2px solid rgba(255, 255, 255, .3);
            border-radius: 10px;
            &:hover {
                background-color: rgba(246,190,118, .75);
                backdrop-filter: blur(50px);
                border: 5px solid rgba(255, 255, 255, .3);
                border-radius: 10px;
            }
        }
        li {
            width: 95%;
            padding: 10px 35px 10px 15px;
            background: rgba(255, 255, 255, .1);
            backdrop-filter: blur(5px);
            border: 2px solid rgba(255, 255, 255, .3);
            border-radius: 10px;
            margin-bottom: 10px;
            font-weight: 0.2rem;
            position: relative;
            word-break: break-all; // fixes issue when person types a super long word. (no space)
            align-items: center;
            font-weight: 500;
            font-size: .9rem;
            transition: 200ms ease-in;
            animation: slide 300ms forwards ease-in-out;
            .icon:before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
            .cross {
                padding: 10px 0px;
                position: absolute;
                top: 0px;
                right: 7px;
                font-size: .9rem;    
                color: $white;
                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f2ed";
                }
                &:focus {
                    outline: none;
                }
                &:hover {
                    color: $red;
                }
            }
        }
        .slide-out {
            animation: slide-out 300ms forwards ease-out;
        }
    }
    #task-count {
        padding: 0px 15px 0px 15px;
        color: $white; 
        font-weight: 400;
    }
    #line-container {
        width: 100%;
        hr {
            border: none;
            border-top: 1px solid rgba(227, 227, 227, .6);   
            width: 30%;
            margin: 15px auto 20px;
        }
    }
}
