@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    left: -15%;
  }
  75% {
    opacity: 0.2;
    left: 5%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    left: -15%;
  }
  75% {
    opacity: 0.2;
    left: 5%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    left: 25%;
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    left: 25%;
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#EEF676), color-stop(#F6BE76), to(#F67E76));
  background-image: linear-gradient(to right, #EEF676, #F6BE76, #F67E76);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #e3e3e3;
}

#to-do-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 400px;
  height: 80vh;
  background: url("../mountain.jpg");
  background-position: calc(100% + 300px) calc(100% + 600px);
  position: relative;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

#to-do-list h1 {
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #2f2f2f;
}

#to-do-list input {
  padding: 15px 35px 15px 15px;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#to-do-list input:focus, #to-do-list input:hover {
  outline: none;
  border: 2px solid rgba(255, 156, 56, 0.4);
  border-radius: 10px;
}

#to-do-list button {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#to-do-list #add {
  top: 105px;
  right: 28px;
}

#to-do-list #add:focus, #to-do-list #add:hover {
  outline: none;
  color: #46934c;
}

#to-do-list #reset {
  top: 126px;
  right: 28px;
}

#to-do-list #reset:focus, #to-do-list #reset:hover {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

#to-do-list #list {
  list-style-type: none;
  width: 100%;
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#to-do-list #list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#to-do-list #list::-webkit-scrollbar {
  width: 10px;
}

#to-do-list #list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#to-do-list #list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(246, 190, 118, 0.75);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#to-do-list #list li {
  width: 95%;
  padding: 10px 35px 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 0.2rem;
  position: relative;
  word-break: break-all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: .9rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  -webkit-animation: slide 300ms forwards ease-in-out;
          animation: slide 300ms forwards ease-in-out;
}

#to-do-list #list li .icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#to-do-list #list li .cross {
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: .9rem;
  color: #e3e3e3;
}

#to-do-list #list li .cross:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2ed";
}

#to-do-list #list li .cross:focus, #to-do-list #list li .cross:hover {
  outline: none;
  color: #F67E76;
}

#to-do-list #list .slide-out {
  -webkit-animation: slide-out 300ms forwards ease-out;
          animation: slide-out 300ms forwards ease-out;
}

#to-do-list #task-count {
  padding: 0px 15px 0px 15px;
  color: #e3e3e3;
  font-weight: 400;
}

#to-do-list #line-container {
  width: 100%;
}

#to-do-list #line-container hr {
  border: none;
  border-top: 1px solid rgba(227, 227, 227, 0.6);
  width: 30%;
  margin: 15px auto 20px;
}
/*# sourceMappingURL=styles.css.map */